**.o
**.lo
**.swp
P_**
**.log
**.la
muscle/config/
muscle/INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
bin/parsnp
compile
config.status
configure
depcomp
ft
harvest
install-sh
mers49.tar.gz
mers49/
missing
muscle/autom4te.cache/
muscle/bin/
muscle/config/compile
muscle/include/
muscle/lib/
muscle/libMUSCLE/.deps/
muscle/libMUSCLE/.libs/
muscle/libMUSCLE/muscle
nucmer
parsnp
phiprofile
ref/
show-coords
src/.deps/
src/Makefile
src/Makefile.in
src/parsnp

