**.o
**.lo
**.swp
P_**
**.log
**.la
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
bin/parsnp
compile
config.status
configure
depcomp
ft
harvest
install-sh
mers49.tar.gz
mers49/
missing
muscle/autom4te.cache/
muscle/bin/
muscle/config/compile
muscle/include/
muscle/lib/
muscle/libMUSCLE/.deps/
muscle/libMUSCLE/.libs/
muscle/libMUSCLE/muscle
muscle/libMUSCLE-3.7.pc
muscle/m4/libtool.m4
muscle/m4/ltoptions.m4
muscle/m4/ltsugar.m4
muscle/m4/ltversion.m4
muscle/m4/lt~obsolete.m4

nucmer
parsnp
phiprofile
ref/
show-coords
src/.deps/
src/Makefile
src/Makefile.in
src/parsnp

